<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Bank webfont &mdash; a webfont of UK bank logos</title>

    <%= stylesheet_link_tag "normalize", "foundation", "bank-webfont", "style" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <header>
        <div class="row">
          <div class="large-12 columns large-centered text-center">
            <h1>Bank webfont</h1>
            <h4>Easy to use, high quality logos of the main UK banks</h4>
            <br>
            <a href="#" class="button">Download from GitHub</a>
            <br>

          </div>
        </div>
      </header>

      <div class="row">
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-rbs"></span>
          <code>class="bank-rbs"</code>
        </div>
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-natwest"></span>
          <code>class="bank-natwest"</code>
        </div>
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-barclays"></span>
          <code>class="bank-barclays"</code>
        </div>
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-lloyds"></span>
          <code>class="bank-lloyds"</code>
        </div>

        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-nationwide"></span>
          <code>class="bank-nationwide"</code>
        </div>
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-cooperative"></span>
          <code>class="bank-cooperative"</code>
        </div>
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-hsbc"></span>
          <code>class="bank-hsbc"</code>
        </div>
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-coutts"></span>
          <code>class="bank-coutts"</code>
        </div>

        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-halifax"></span>
          <code>class="bank-halifax"</code>
        </div>
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-santander"></span>
          <code>class="bank-santander"</code>
        </div>
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-tsb"></span>
          <code>class="bank-tsb"</code>
        </div>
        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-yorkshire"></span>
          <code>class="bank-yorkshire"</code>
        </div>

        <div class="small-0 large-3 columns bank-logo text-center">
        </div>

        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-metrobank"></span>
          <code>class="bank-metrobank"</code>
        </div>

        <div class="small-6 large-3 columns bank-logo text-center">
          <span class="bank-firstdirect"></span>
          <code>class="bank-firstdirect"</code>
        </div>


        <div class="small-0 large-3 columns bank-logo text-center">
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="large-6 columns large-centered text-center">
            <a href="https://github.com/gocardless"><%= image_tag "bg-gc.png", class: 'gc-signature' %></a>
            <br>
            <small>All trademarks are the property of their respective owners; third-party brands, product names, trade names, corporate names and companies mentioned herein may be the trademarks of their respective owners or registered trademarks of other companies and have been used for purposes of explanation and to the owner's benefit, without implying a violation of copyright law.</small>
          </div>
        </div>
      </footer>
    </div>


  </body>
</html>